{% extends "app/layout.html" %}

{% block content %}

<div style="padding:5px;"></div>

<h1 style="padding-top:20px;padding-left:5px;text-align:center;">About P<span style="color:#5685d1;">x</span>PUC</h1>


<div class="jumbotron" style="padding-bottom:25px;">

    <p class="lead">The P<span style="color:#5685d1;">x</span>PUC team is made up of a subset of members from Grief to Action (G2A) , a working group at the University of Pittsburgh's Center for Analytical Approaches. </p>
    <p class="lead">Our team is made up of students, staff, and community members who came together this summer in the wake of George Floyd's murder to use data analysis to address structural racism in Pittsburgh and beyond.</p>

</div>

<div class="jumbotron" style="background-color:white;padding-top:0px;">
  <hr class="my-4" style="border-top:1px solid darkgrey;">
<p class="lead">The aim of this project is to analyze police union contracts and the barriers they pose to holding police officers accountable, as well as to demystify the police misconduct investigation process.</p>
<p class="lead">Our search tool allows users to easily look up information in these contracts, and helps them to become more familiar with some of the problematic language used within them and break this information down.</p>
<hr class="my-4" style="border-top:1px solid darkgrey;">
</div>


{% endblock %}
