{% extends "app/layout.html" %}

{% block content %}
{% load static %}
    <div class="jumbotron" style="background-color:white;padding-top:30px;padding-bottom:55px;text-align:center;">
      <h2>Select a state</h2>
          <div class="dropdown" style="text-align:center;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:10px auto;">
              Choose a state&nbsp;&nbsp;
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu multi-level" aria-labelledby="dropdownMenu1" style="margin:10px auto;width:200px; left:50%; margin-left:-100px;">
              {% if locations != '' %}
              {% for state in states %}
                <li class="dropdown-submenu"><a href="#">{{ state }}</a>
                  <ul class="dropdown-menu">
                    {% for obj in locations %}
                    {% if obj.state == state %}
                        <li><a tabindex="-1" href="{%url 'complaint' obj.pk %}">{{ obj.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                {% endfor %}
                {% endif %}
                </li>
            </ul>

          </div>
    </div>

{% endblock %}
