{% extends "app/layout.html" %}
{% load tag_utils %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <p class="lead"><a href="{% url 'citizens' %}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;return to city select</a></p>
    <div class="jumbotron">
        <h1>{{location.name}}</h1>
        <p class="lead">This tool highlights the phases involved in the process of filing a police complaint. <br />Click on a circle to learn more about that particular phase.</p>
    </div>
    <div class="row">
	    <div class="col-md-2 col-md-offset-1 text-center">
		    <div class="flow-stage" id="Pre-ComplaintCircle" onclick="showCategory('Pre-Complaint')">
			    <span class="fa-stack fa-5x">
				    <!--<i class="fas fa-arrow-right fa-stack-2x" data-fa-transform="shrink-8 right-10"></i>-->
				    <i class="fas fa-circle fa-stack-2x flow-circle"></i>
				    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
			    </span>
		    </div>
		    <h4 class="text-center">Interaction</h4>
	    </div>
	    <div class="col-md-2 text-center">
		    <div class="flow-stage" id="ComplaintCircle" onclick="showCategory('Complaint')">
			    <span class="fa-stack fa-5x">
				    <i class="fas fa-circle fa-stack-2x flow-circle"></i>
				    <i class="fas fa-exclamation-circle fa-stack-1x fa-inverse"></i>
			    </span>
		    </div>
		    <h4 class="text-center">Complaint</h4>
	    </div>
	    <div class="col-md-2 text-center">
		    <div class="flow-stage" id="ReviewCircle" onclick="showCategory('Review')">
			    <span class="fa-stack fa-5x">
				    <i class="fas fa-circle fa-stack-2x flow-circle"></i>
				    <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
			    </span>
		    </div>
		    <h4 class="text-center">Review</h4>
	    </div>
	    <div class="col-md-2 text-center">
		    <div class="flow-stage" id="InvestigationCircle" onclick="showCategory('Investigation')">
			    <span class="fa-stack fa-5x">
				    <i class="fas fa-circle fa-stack-2x flow-circle"></i>
				    <i class="fas fa-search fa-stack-1x fa-inverse"></i>
			    </span>
		    </div>
		    <h4 class="text-center">Investigation</h4>
	    </div>
	    <div class="col-md-2 text-center">
		    <div class="flow-stage" id="ResultCircle" onclick="showCategory('Result')">
			    <span class="fa-stack fa-5x">
				    <i class="fas fa-circle fa-stack-2x flow-circle"></i>
				    <i class="fas fa-check fa-stack-1x fa-inverse"></i>
			    </span>
		    </div>
		    <h4 class="text-center">Result</h4>
	    </div>
    </div>
    <div class="row">
	    <!-- Pre-Complaint Panel-->
	    <div class="col-md-12" id="pre-complaintPanel" style="display:none; position:sticky; top: 0;">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
				    <h3 class="panel-title">Interaction with Police</h3>
			    </div>
			    <div class="panel-body">
				    <p class="lead" >What happens in this stage?</p>
				    <p>You have an encounter with the police that you don't feel "right" about</p> 
			    </div>
			    <div class="panel-footer">
				    <a href="https://www.aclu.org/know-your-rights/stopped-by-police/#ive-been-stopped-by-the-police-in-public" target="_blank" >ACLU Know Your Rights</a>
				    <br />
				    <a href="https://californiainnocenceproject.org/issues-we-face/police-misconduct/#:~:text=Police%20misconduct%20encompasses%20illegal%20or,the%20conduct%20of%20their%20duties." target="_blank" >California Innocence Project</a>
			    </div>
			    <div class="panel-heading">
				    <h3 class="panel-title">Frequently Asked Questions</h3>
			    </div>
			    <div class="panel-group" style="padding-top:5px;" id="precomplaintAccordion" role="tablist" aria-multiselectable="true">
				    {% for q in questions|lookup:'Pre-Complaint' %}
				    <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading{{q.id}}">
						    <h4 class="panel-title">
							    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#precomplaintAccordion" href="#collapse{{q.id}}" aria-expanded="false" aria-controls="collapse{{q.id}}">
								    {{q.q}}
							    </a>
						    </h4>
					    </div>
					    <div id="collapse{{q.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{q.id}}">
						    <div class="panel-body">
							    {{q.a}}
						    </div>
					    </div>
				    </div>
				    {% endfor %}
			    </div>
		    </div>
	    </div>
	    <!-- Complaint Panel-->
	    <div class="col-md-12" id="complaintPanel" style="display:none; position:sticky; top: 0;">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
				    <h3 class="panel-title">Filing a Complaint</h3>
			    </div>
			    <div class="panel-body">
				    <p class="lead">What happens in this stage?</p>
				    <p>Fill out and submit the complaint form for your city</p>
				    <a href="{{location.complaint_form_link}}" target="_blank">{{location.name}}'s Police Complaint Form </a>
			    </div>
			    <div class="panel-heading">
				    <h3 class="panel-title">Frequently Asked Questions</h3>
			    </div>
			    <div class="panel-group" style="padding-top:5px;" id="complaintAccordion" role="tablist" aria-multiselectable="true">
				    {% for q in questions|lookup:'Complaint' %}
				    <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading{{q.id}}">
						    <h4 class="panel-title">
							    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#complaintAccordion" href="#collapse{{q.id}}" aria-expanded="false" aria-controls="collapse{{q.id}}">
								    {{q.q}}
							    </a>
						    </h4>
					    </div>
					    <div id="collapse{{q.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{q.id}}">
						    <div class="panel-body">
							    {{q.a}}
						    </div>
					    </div>
				    </div>
				    {% endfor %}
			    </div>
		    </div>
	    </div>
	    <!-- Contract Panel-->
	    <div class="col-md-12" id="contractPanel" style="display:none; position:sticky; top: 0;">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
				    <h3 class="panel-title">{{location}} Contract Search</h3>
			    </div>
			    <div class="panel-body scrollable-panel" id="contractSearch">
				    <form method="GET" action="{% url 'complaint' location.pk %}">
					    <input name="searchTerm" value="{{request.GET.searchTerm}}" placeholder="enter a keyword here" style="border-radius:15px; text-align:center; border-width:2px; border-color:#5685d1;">
					    <button class=" "btn btn-success" type="submit" style="border-radius:15px;color:white;background-color:#5685d1;border-color:#5685d1;padding-left:10px;padding-right:10px;">
									     Go
					    </button>
				    </form>
				    {% if results != '' %}
				    <hr >
				    {% for obj in results %}
				    <p class="lead"><strong><span style="color:#5685d1;">{{obj.location}} Contract:</span>   </strong>{{obj.text}}</p>
				    <hr >
				    {% endfor %}
				    {% endif %}
			    </div>
		    </div>
	    </div>
	    <!-- Review Panel-->
	    <div class="col-md-12" id="reviewPanel" style="display:none; position:sticky; top: 0;">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
				    <h3 class="panel-title">Review of complaint</h3>
			    </div>
			    <div class="panel-body">
				    <p class="lead">What happens in this stage?</p>
				    <p>Your complaint will be reviewed and the department will determine whether to proceed with an invesigation. Your complaint may be dismissed, but that does not necessarily mean you have not experienced misconduct. If that happens, connect with an orginization in your city.</p>
				    <p>Either the cheif or the department's internal affairs team is given the complaint and if they agree charges are plausible, the complaint moves on. The accused officer and those associated with them, as well as their legal representation, must be notified within a specific timeframe which is typically a matter of days.<br>(e.g. 10-30 days)</p>
			    </div>
			    <div class="panel-heading">
				    <h3 class="panel-title">Frequently Asked Questions</h3>
			    </div>
			    <div class="panel-group" style="padding-top:5px;" id="reviewAccordion" role="tablist" aria-multiselectable="true">
					{% for q in questions|lookup:'Review' %}
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading{{q.id}}">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#reviewAccordion" href="#collapse{{q.id}}" aria-expanded="false" aria-controls="collapse{{q.id}}">
									  {{q.q}}
								</a>
							</h4>
						</div>
						<div id="collapse{{q.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{q.id}}">
							<div class="panel-body">
								    {{q.a}}
							</div>
						</div>
					</div>
					{% endfor %}
			    </div>
		    </div>
	    </div>
	    <!-- Investigation Panel-->
	    <div class="col-md-12" id="investigationPanel" style="display:none; position:sticky; top: 0;">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
				    <h3 class="panel-title">Investigation</h3>
			    </div>
			    <div class="panel-body">
				    <p class="lead">What happens in this stage?</p>
				    <p>The accused police officer and those associated are given the documents of the actual complaint. The police officer will then be called to respond to the allegations. The information they are given at this step may include the citizen's name or the details (time/date/location) of the complaint</p>
				    <p> The investigation must be completed within an agreed timeframe, typically a series of months. All procedures and protocols during the investigation must be followed without any violations.</p>
			    </div>
			    <div class="panel-heading">
				    <h3 class="panel-title">Frequently Asked Questions</h3>
			    </div>
			    <div class="panel-group" style="padding-top:5px;" id="investigationAccordion" role="tablist" aria-multiselectable="true">
				    {% for q in questions|lookup:'Investigation' %}
				    <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading{{q.id}}">
						    <h4 class="panel-title">
							    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#investigationAccordion" href="#collapse{{q.id}}" aria-expanded="false" aria-controls="collapse{{q.id}}">
								    {{q.q}}
							    </a>
						    </h4>
					    </div>
					    <div id="collapse{{q.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{q.id}}">
						    <div class="panel-body">
							    {{q.a}}
						    </div>
					    </div>
				    </div>
				    {% endfor %}
			    </div>
		    </div>
	    </div>
	    <!-- Result Panel-->
	    <div class="col-md-12" id="resultPanel" style="display:none; position:sticky; top: 0;">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
				    <h3 class="panel-title">Result</h3>
			    </div>
			    <div class="panel-body">
				    <p class="lead">What happens in this stage?</p>
				    <p>You will be notified of the result of your complaint and sometimes the course of action being taken by the department. However, most of the time that information is kept private. Again, if your case is dismissed, that does NOT mean you have not experienced police misconduct. Seeking out the assistance of local organizations can help here as well.</p>
			    </div>
			    <div class="panel-heading">
				    <h3 class="panel-title">Frequently Asked Questions</h3>
			    </div>
			    <div class="panel-group" style="padding-top:5px;" id="resultAccordion" role="tablist" aria-multiselectable="true">
				    {% for q in questions|lookup:'Result' %}
				    <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading{{q.id}}">
						    <h4 class="panel-title">
							    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#resultAccordion" href="#collapse{{q.id}}" aria-expanded="false" aria-controls="collapse{{q.id}}">
								    {{q.q}}
							    </a>
						    </h4>
					    </div>
					    <div id="collapse{{q.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{q.id}}">
						    <div class="panel-body">
							    {{q.a}}
						    </div>
					    </div>
				    </div>
				    {% endfor %}
			    </div>
		    </div>
	    </div>
    </div>
</div>
{% endblock %}
