{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <p class="lead"><a href="{% url 'citizens' %}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;return to city select</a></p>
    <div class="jumbotron">
        <h1>{{location.name}}</h1>
        <p class="lead">This tool highlights the phases involved in the process of filing a police complaint. <br />Click on a circle to learn more about that particular phase.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- Pre-Complaint Circle-->
            <div class="circle">
                <div class="circle" id="Pre-ComplaintCircle" onclick="showCategory('Pre-Complaint')">
                </div>
                <span class="material-icons" style="font-size:100px;position:absolute;left:50px;top: 50px; color: #428bca;">groups</span>
                <div class="circleText">Interaction</div>
            </div>
            <div class="v1"><span class="material-icons" style="font-size:50px;position:absolute;left:-67px;top:50px;">south</span></div>
            <!-- Complaint Circle-->
            <div class="circle">
                <div class="circle"  id="ComplaintCircle" onclick="showCategory('Complaint')"></div>
                <span class="material-icons" style="font-size:100px;position:absolute;left:50px;top: 50px; color: #428bca;">report</span>
                <div class="circleText">Complaint</div>
            </div>
            <div class="v1"><span class="material-icons" style="font-size:50px;position:absolute;left:-67px;top:50px;">south</span></div>
            <!-- Review Circle-->
            <div class="circle">
                <div class="circle"  id="ReviewCircle" onclick="showCategory('Review')"></div>
                <span class="material-icons" style="font-size:100px;position:absolute;left:50px;top: 55px; color: #428bca;">rate_review</span>
                <div class="circleText">Review</div>
            </div>
            <div class="v1"><span class="material-icons" style="font-size:50px;position:absolute;left:-67px;top:50px;">south</span></div>
            <!-- Investigation Circle-->
            <div class="circle">
                <div class="circle" id="InvestigationCircle" onclick="showCategory('Investigation')"></div>
                <span class="material-icons" style="font-size:100px;position:absolute;left:50px;top: 55px; color: #428bca;">search</span>
                <div class="circleText">Investigation</div>
            </div>
            <div class="v1"><span class="material-icons" style="font-size:50px;position:absolute;left:-67px;top:50px;">south</span></div>
            <!-- Result Circle-->
            <div class="circle" style="margin-bottom:100px;">
                <div class="circle"  id="ResultCircle" onclick="showCategory('Result')"></div>
                <span class="material-icons" style="font-size:100px;position:absolute;left:50px;top: 55px; color: #428bca;">done</span>
                <div class="circleText">Result</div>
            </div>
        </div>
        <!-- Pre-Complaint Panel-->
        <div class="col-md-6" id="pre-complaintPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Interaction with Police</h3>
                  </div>
                  <div class="panel-body">
                      <p class="lead" >The PDF below guides you on what you should do and your rights if you are stopped by a police officer.</p>
                  </div>
                  <div class="panel-footer">
                      <a href="{% static 'app/Pre-Complaint/PittsburghPreComplaint.pdf' %}" target="_blank" >PDF (by Pittsburgh Independent Citizen Police Review Board)</a>
                  </div>
                  <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                  </div>
                  <div class="list-group">
                      <!-- General Pre-Complaint Q's (displayed on all Cities)-->
                      <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("Police misconduct happens when inappropriate/illegal actions are taken by police officers in connection to their work. Some common examples of police misconduct are: intimidation, false arrest, false imprisonment, falsification of evidence, witness tampering, police brutality, police corruption, racial profiling, unwarranted searches. If you think you experienced misconduct you can file a complaint with the police department. NOTE: If you are considering filing a lawsuit you should speak to a lawyer before making a complaint. A lawyer will help you decide your next step.","Pre-Complaint")'>How do i know if I've experienced police misconduct?</a>
                       <!-- Specific Pre-Complaint Q's (per city)-->
                        {% for q in questions %}
                            {% if q.category == 'Pre-Complaint' %}
                                <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("{{q.a}}","{{q.category}}")'>{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="Pre-ComplaintAnswer" style="display:none">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Complaint Panel-->
        <div class="col-md-6" id="complaintPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Filing a Complaint</h3>
                  </div>
                  <div class="panel-body">
                      <p class="lead">Conditions to proceed to the next phase:</p>
                      <p>Fill out and submit the complaint form for your city</p>
                      <a href="{{location.complaint_form_link}}" target="_blank">{{location.name}}'s Police Complaint Form </a>
                  </div>
                  <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                  </div>
                  <div class="list-group">
                      <!-- General Complaint Q's (displayed on all Cities)-->
                      <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("The victim of misconduct should file the complaint for themselves if possible. Some police departments do not accept misconduct complaints from witnesses to misconduct and will only accept complaints from victims. If you are a witness to misconduct and would like to file a complaint, check with the police department or police oversight board first to find out if it will be accepted. If the victim of misconduct is under 18 years old, a parent or guardian can file the complaint on their behalf.","Complaint")'>Who can file a complaint?</a>
                      <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("The more information the better! The most useful detail is the officers name and/or badge number, but you can still file a complaint without that information. Write down everything you can remember about the incident before you start filling out the form. Try to recall as much detail as possible: when did it happen? where? did anyone else see? what did the officer look like? what did their car look like?, etc. Be aware that complaints may be dismissed if there is not enough information to identify the accused officer. ","Complaint")'>What information do I need to file a complaint?</a>
                      <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("Many municipalities require the victim to file within 6 months of the misconduct. Check with the police department or, if possible, a police oversight board.","Complaint")'>Do I have to file the complaint within a certain period of time?</a>
                       <!-- Specific Complaint Q's (per city)-->
                        {% for q in questions %}
                            {% if q.category == 'Complaint' %}
                                <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("{{q.a}}","{{q.category}}")'>{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="ComplaintAnswer" style="display:none">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Contract Panel-->
        <div class="col-md-6" id="contractPanel" style="display:none; position:sticky; top: 0;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{location}} Contract Search</h3>
                    </div>
                    <div class="panel-body scrollable-panel" id="contractSearch">
                         <form method="GET" action="{% url 'complaint' location.pk %}">
                             <input name="searchTerm" value="{{request.GET.searchTerm}}" placeholder="enter a keyword here" style="border-radius:15px; text-align:center; border-width:2px; border-color:#5685d1;">
                             <button class=" "btn btn-success" type="submit" style="border-radius:15px;color:white;background-color:#5685d1;border-color:#5685d1;padding-left:10px;padding-right:10px;">
                                Go
                             </button>
                         </form>
                         {% if results != '' %}
                             <hr >
                             {% for obj in results %}
                                  <p class="lead"><strong><span style="color:#5685d1;">{{obj.location}} Contract:</span>   </strong>{{obj.text}}</p>
                                  <hr >
                              {% endfor %}
                         {% endif %}
                    </div>
                </div>
         </div>
        <!-- Review Panel-->
        <div class="col-md-6" id="reviewPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Review of complaint</h3>
                  </div>
                  <div class="panel-body">
                      <p class="lead">What happens in this phase?</p>
                      <p>Your complaint will be reviewed and the department will determine whether to proceed with an invesigation. Your complaint may be dismissed, but that does not necessarily mean you have not experienced misconduct</p>
                      <p class="lead">Conditions to proceed to the next phase:</p>
                      <p>Chief notified and agrees charges are plausible</p>
                      <p>The accused officer and those associated with them, as well as their legal representation, must be notified within a specific timeframe which is typically a matter of days. <br>(e.g. 10-30 days)</p>
                  </div>
                  <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Review' %}
                                <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("{{q.a}}","{{q.category}}")'>{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="ReviewAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Investigation Panel-->
        <div class="col-md-6" id="investigationPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Investigation</h3>
                  </div>
                  <div class="panel-body">
                      <p class="lead">What happens in this phase?</p>
                      <p>In the investigation phase the accused police officer and those associated are given the documents of the actual complaint. The police officer will then be called to respond to the allegations.</p>
                      <p>The information they are given at this step may include the citizen's name and the details of when they were arrested.</p>
                      <p class="lead">Conditions to proceed to the next phase:</p>
                      <p> The investigation must be completed within an agreed timeframe, typically a series of months. All procedures and protocols during the investigation must be followed without any violations.</p>
                  </div>
                  <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                  </div>
                   <!-- General Investigation Q's (displayed on all Cities)-->
                      <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("In some police departments, the accused officer is allowed to see the name of the person who filed the complaint. [mention we can check this w tool.] If you are concerned that an officer might try to retaliate against you for filing the complaint, it may be the best option not to file at this time.","Investigation")'>What are the risks of filing a police misconduct complaint?</a>
                   <!-- Specific Investigation Q's (per city)-->
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Investigation' %}
                                <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("{{q.a}}","{{q.category}}")'>{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="InvestigationAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Conviction Panel-->
        <div class="col-md-6" id="convictionPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Conviction' %}
                                <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("{{q.a}}","{{q.category}}")'>{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="ConvictionAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Result Panel-->
        <div class="col-md-6" id="resultPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Result</h3>
                  </div>
                  <div class="panel-body">
                      <p class="lead">...</p>
                      <p>...</p>
                  </div>
                  <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Result' %}
                                <a style="cursor:pointer;" class="list-group-item" onclick='setAnswer("{{q.a}}","{{q.category}}")'>{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="ResultAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
