<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - PxPUC</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	{% block css %}{% endblock %}
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'PxPUC' %}" class="navbar-brand" style="font-weight:bold;">P<span style="font-weight:bolder;opacity:0.65;">x</span>PUC</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class ="nav navbar-nav">
                    <li><a href="{% url 'researchers' %}">Researchers</a></li>
                    <li><a href="{% url 'citizens' %}">Citizens</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>


    <div class="container body-content">
    {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - CAASI From Grief to Action</p>
        </footer>
    </div>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/scripts.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
