{% extends "app/layout.html" %}

{% block content %}

<style>
.collapsible {
  border-radius:4px;
  background-color: #428bca;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin-bottom:10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.active, .collapsible:hover {
  background-color: #428bca;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}
</style>

<h3 style="text-align:center;">Search our database of contracts for any keyword.</h3>

<div class="jumbotron" style="background-color:white;padding-top:30px;padding-bottom:15px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="GET" action="{% url 'search_contract' %}">
              <div class="input-group input-group-lg">
                 <input type="text" id="sub" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Search for..." style="border-radius:6px;">
                 <input type="text" id="or" name="OR" value="{{request.GET.OR}}" class="form-control" placeholder="Or.." style="border-radius:6px;">
                 <button class="btn btn-lg btn-default" id="subbtn" type="submit" style="float:right; margin-top:2px;">Go!</button>
              </div><!-- /input-group -->
            </form>
        </div><!-- /.col-lg-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="btn-group" role="group" aria-label="..." style="margin-top:33px;position:relative;left:47%;margin-right:-50%;transform:translate(-50%,-50%);">
          <button type="button" onclick="getElementById('sub').value='file';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">file</button>
          <button type="button" onclick="getElementById('sub').value='interview';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">interview</button>
          <button type="button" onclick="getElementById('sub').value='arbitration';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">arbitration</button>
          <button type="button" onclick="getElementById('sub').value='review';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">review</button>
          <button type="button" onclick="getElementById('sub').value='investigation';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">investigation</button>

    </div>

</div>
<div class="col-md-12">
{% if results != '' %}
{% regroup results by location as cities %}
    {% for city in cities %}
    <button type="button" class="collapsible">{{city.grouper}} - {{city.list|length}} results <i class="fas fa-chevron-down" style="float:right;"></i></button>
	<div class="content">
        {% for obj in results %}
			{% if obj.location == city.grouper %}
      <br>
			<p class="lead"><strong><a href="{%url 'view_location' obj.lid %}" style="color:#5685d1;">{{obj.location}} Contract:</a>   </strong>{{obj.first}}<span style="background-color: #FFFF00">{{obj.second}}</span>{{obj.third}}</p>
				<hr style="border-color:#428bca;border-width:2px;">
			{% endif %}
	    {% endfor %}
	</div>
    {% endfor %}
{% endif %}
</div>

<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}
