.tabs {
    background-color: #2B70E4 !important;
    color: #FFFFFF;
}

.title-container {
    background-color: #B0C9F4 !important;
    color: #000000;
}

.main-color {
    background-color: #F0F0F0 !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #FFFFFF !important;
    color: #000000;
    transition: 0.3s;
    width: 15rem;
    text-align: left;
}

.card-body {
    background-color: #FFFFFF !important;
}

.card-title {
    white-space:nowrap;
}

.who {
    line-height: 3em;
}

h2{
    font-weight: 500;
}

p.description {
    font-size: 1.25em;
	line-height: 45px;
}

.tabmenu {
    color:FFFFFF;
}

.tabmenu.active {
    color: #FFB81C;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color:  #FFB81C;
    text-decoration: none;
}

hr {
    width:15%;
    height: 3px;
    text-align:left;
    margin-left:0;
    background-color: #B0C9F4;
    border-width:0;
    color: #B0C9F4;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}