.jumbo-header {
	background-color: #2B70E4 !important;
}

.jumbo-header h1{
	color: #FFB81C !important;
}

.main-color {
    background-color: #FFFFFF !important;
}

.contact-img {
    width: 65%;
    height: auto;
}