.submitreview{
    float: left;
    width: 60%;
    margin-right: 3%;
}

.airtable-form{
    background: transparent; 
    border: 1px solid #ccc;
}

.youtube-videos{
    float: left;
    width: 35%;
    margin-right: 2%;
}

.video{
    clear: both;
}