body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/RobotoMono-Medium.ttf') format("truetype");
}
@font-face {
    font-family: 'Ember';
    src: local('Ember'), url('../fonts/Amazon Ember Regular.ttf') format("truetype");
}
/* Set width on the form input elements since they're 100% wide by default */

textarea {
   width: 100%;
   height: 75px
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.navbar-custom {
    background-color: white;
}

.active-cyan-3 input[type=text] {
    border: 1px solid #428bca;
    box-shadow: 0 0 0 1px #428bca;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #428bca;
    box-shadow: 0 0 0 1px #428bca;
}
a {
    overflow-wrap: break-word;
}
a.a1:link {
    color: black;
}

a.a1:hover {
    text-decoration: none;
}

a.a1:visited {
        color: black;
        text-decoration: none;
    }

pre {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-flex;
    background: none;
    white-space: normal;
    padding: 0px;
    word-break: keep-all;
}

.column {
    flex: 50%;
    padding: 10px;
}
.circleText {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: -60%;
    color:rgba(0,0,0,.87);
    font-family: "Ember";
    font-size: 30px;
}

.circle {
    cursor: pointer;
    z-index: 1;
    position: relative;
    top: 25px;
    left: 168px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: none;
    transition: all 250ms ease-in-out;
}

.circle .circle {
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 12px;
    border-color: #428bca;
    background-color: none;
    border-radius: 110px;
    width: 100%;
    height: 100%;
}

.circle:hover {
    background: #B22222;
}

.circle:hover .circle {
    top: -30px;
    left: -30px;
    width: 130%;
    height: 130%;
    border-style: solid;
    border-width: 12px;
    border-color: #B22222;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.v1 {
    z-index: 0;
    position: relative;
    margin-top: 24px;
    margin-bottom: -26px;
    left: 262px;
    border-left: 12px solid #B22222;
    height: 150px;
    width: 10px;
}
.panel {
    margin-top: 15%;
}

.panel-body {
    border-top: 1px solid #428bca;
}
.scrollable-panel {
    height: 300px;
    overflow-y: scroll;
    width:100%;
}
