{% extends "pbb/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h1>Who We Are</h1>
<p>Grief to Action was an initiative started by the Center for Analytical Approaches to Social Innovation
     (CAASI) at the University of Pittsburgh. The recent events have ignited conversation and action throughout the whole country to support 
    marginalized and underrepresented minorities in America. We have turned this grief into action 
    by using our skills, tools and resources to develop projects that can help support and empower 
    these groups.</p>

{% endblock %}
