{% extends "pbb/layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/app/content/about.css">
    </head>

    <body>
        <div class="pbbabout-container">
            <div class="pbbabout-header">
                <h2><b>{{ title }}</b></h2>
                <h3>{{ message }}</h3>
            </div>
            <div class="pbbabout-headerbar">
                <a href="#pbbabout-who">Who we are</a>
                <a href="#pbbabout-team">Our Team</a>
                <a href="#pbbabout-partners">Our Partners</a>
            </div>
            <div class="pbbabout-who">
                <h1>Who We Are</h1>
                <p>Grief to Action was an initiative started by the Center for Analytical Approaches to Social Innovation
                    (CAASI) at the University of Pittsburgh. The recent events have ignited conversation and action throughout the whole country to support 
                    marginalized and underrepresented minorities in America. We have turned this grief into action 
                    by using our skills, tools and resources to develop projects that can help support and empower 
                    these groups. The Project Elevate team is a subgroup of Grief to Action. Scroll down to see our team!
                </p>
            </div>
            <div class="pbbabout-mission">
                <h1>Our Mission</h1>
                <p>Project Elevate is a program that strives to promote black businesses through the medium of online 
                    reviews. We are launching with the initiative of finding groups on the University of Pittsburgh campus 
                    to pledge to purchase goods and services from Black businesses, then provide reviews of their 
                    experience on social media and review websites (such as Yelp and Google Reviews). Each group 
                    would receive their own page of information and access to data about the Black businesses they 
                    are visiting and provide recommendations with what types of businesses and areas they are missing 
                    out on! We want to create a closer and supportive relationship between these Black businesses, the university 
                    communities and area residents in general.
                </p>
            </div>
            <div class="pbbabout-team">
                <h1>Our Team</h1>
                <div class="pbbabout-engagementteam">
                    <h2>Community Engagement Team</h2>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%;">
                            <div class="card-title">
                                <h4><b>Claire Guth</b></h4> 
                                <p>Project Manager</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/i.jpg" style="width:100%">
                            <div class="card-title">
                                <h4><b>I Younan An</b></h4> 
                                <p>Project Manager</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Mara McCloud</b></h4> 
                                <p>Project Manager</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Diane Cohen</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Falon Weidman</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Vannie Wang</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Caelan Hidalgo Schick</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Sarah Downing</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Chloe Harvey</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Miguelina</b></h4> 
                                <p>Business Engagement</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pbbabout-techteam">
                    <h2>Tech Team</h2>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/andi-halim.jpg" style="width:100%"> 
                            <div class="card-title">
                                <h4><b>Andi Halim</b></h4> 
                                <p>Technical Project Manager</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/melanie-cooray.jpg" style="width:100%">
                            <div class="card-title">
                                <h4><b>Melanie Cooray</b></h4> 
                                <p>Software Developer</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Jeremy Olin</b></h4> 
                                <p>Software Developer</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Tyler Olin</b></h4> 
                                <p>Software Developer</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Kevin DeMaioribus</b></h4> 
                                <p>Software Developer</p> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <img src="../../static/app/img/default-profile.png" style="width:100%">
                            <div class="card-title">
                                <h4><b>Michael Hamilton</b></h4> 
                                <p>Software Developer</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pbbabout-partners">
                <h1>Our Partners</h1>
            </div>
        </div>
    </body>
</html>

{% endblock %}
