{% extends "pbb/layout2.html" %}
{% block content %}

<!DOCTYPE html>
    <html>
        <header>

        </header>
        <body>
            <h1>Join Our Team</h1>
            <p>Come be a part of our movement by joining our team. There are a variety of things that you can do and participate in.
            <br>Join our Slack workspace here and fill our this form. We can get started immediately!</p>
            <h1>Have a Project?</h1>
            <p>Are you a part of an organization that could use some support? Do you have a cause that you feel we should work for to help?
                Reach out to us at grieftoaction@pitt.edu</p>
        </body>
    </html>

{% endblock %}
