{% extends "pbb/layout.html" %}

{% block styles %}

{% endblock %}
	<link href="../../static/app/content/datatables.min.css" rel="stylesheet">
{% block content %}
		<!-- Main Body -->
<div class="main-color">
	<div class="container-fluid text-lg-left pad-top-sm pad-bot-sm">
		<h1 class="display-4 head-font">Directory</h1>
		<hr class="my-2">
		<p>
			[SHORT DESCRIPTION]
		</p>
	</div>
</div>

<div class="color3 pad-top-lg pad-bot-lg">
	<div class="container-fluid">
		<div class="row text-md-left dir">
			<div class="col-2">
				<div class="filter-box">
					<h5>Filter</h5>
					<!--Accordion wrapper-->
					<div class="accordion md-accordion" id="accordion" role="tablist" aria-multiselectable="true">
					  <!-- Accordion card -->
					  <div class="card">
					    <!-- Card header -->
					    <div class="card-header" role="tab" id="heading1">
					      <a data-toggle="collapse" data-parent="#accordion" href="#filter1" aria-expanded="true"
					        aria-controls="filter1">
					        <div class="text">
						        <p>Business Type</p>
						        <p><i class="fas"></i></p>
						    </div>
					      </a>
					    </div>

					    <!-- Card body -->
					    <div id="filter1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
					      data-parent="#accordion">
					      <div class="filter-check card-body" id="filterBox">
					      	<div class="form-check">	
					      		<input type="checkbox" class="form-check-input" id="barCheck">
								<label class="form-check-label" for="barCheck">Bar</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="beautyCheck">
								<label class="form-check-label" for="beautyCheck">Beauty Salon</label>
							</div>		
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="educationCheck">
								<label class="form-check-label" for="educationCheck">Education</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="eventsCheck">
								<label class="form-check-label" for="eventsCheck">Events</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input filled-in" id="foodCheck">
								<label class="form-check-label" for="foodCheck">Food</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="generalCheck">
								<label class="form-check-label" for="generalCheck">General Services</label>
							</div>					
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="gymCheck">
								<label class="form-check-label" for="gymCheck">Gym</label>
							</div>
					        <div class="form-check">
								<input type="checkbox" class="form-check-input filled-in" id="hairCheck">
								<label class="form-check-label" for="hairCheck">Hair Care</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="healthCheck">
								<label class="form-check-label" for="healthCheck">Health</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="nonCheck">
								<label class="form-check-label" for="nonCheck">Nonprofit</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="profCheck">
								<label class="form-check-label" for="profCheck">Professional Services</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="shoppingCheck">
								<label class="form-check-label" for="shoppingCheck">Shopping</label>
							</div>
					      </div>
					    </div>
					  </div>
					  <!-- Accordion card -->

					  <!-- Accordion card -->
					  <div class="card">
					    <!-- Card header -->
					    <div class="card-header" role="tab" id="heading2">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#filter2"
					        aria-expanded="false" aria-controls="filter2">
					        <div class="text">
						        <p>Location</p>
						        <p><i class="fas"></i></p>
						    </div>
					      </a>
					    </div>

					    <!-- Card body -->
					    <div id="filter2" class="collapse" role="tabpanel" aria-labelledby="heading2"
					      data-parent="#accordion">
					      <div class="card-body">
					      </div>
					    </div>
					  </div>
					  <!-- Accordion card -->
					</div>
					<!-- Accordion wrapper -->
				</div>
			</div>
			<div class="col-1">
			</div>
			<div class="col"> 
				<input class="form-control search" id="search" type="text" placeholder="Search for a business...">
				<br>
				<table class="dir-table" id="dirTable" class="sortable">
					<thead>
						<tr>
							<th class="th-lg">Name</th>
							<th class="th-lg">Address</th>
							<th class="th-sm">Rating</th>
							<th class="th-md">Category</th>
							<th style="display:none;">G2A_Keywords</th>
						</tr>
					</thead>
					<tbody id="directory">
					{% if data %}
					{% for i in data %}
						<tr>
							<td>{{i.Name}}</td>
							<td>{{i.Address}}</td>
							<td>{{i.Rating}}</td>
							<td>{{i.Category}}</td>
							<td style="display:none;">{{i.G2A_Keywords}}</td>
						</tr>
					{% endfor %}
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script type="text/javascript" src="../../static/app/scripts/datatables.min.js"></script>
	<script src='../../static/app/scripts/directory.js'></script>
{% endblock %}