{% extends "pbb/layout.html" %}
{% block content %}

<img src="../../static/app/img/projectelevate-mockbanner.png">
<h1>Our Mission</h1>
<p>Our mission is to promote, uplift, and elevate Black-owned businesses in Pittsburgh to increase 
    their visibility and expand their business presence on and around the University of Pittsburgh 
    campus and the Pittsburgh community.</p>

<h1>What Do We Do?</h1>
<p>
Project Elevate is a program that strives to promote black businesses through the medium of online 
reviews. We are launching with the initiative of finding groups on the University of Pittsburgh campus 
to pledge to purchase goods and services from Black businesses, then provide reviews of their 
experience on social media and review websites (such as Yelp and Google Reviews). Each group 
would receive their own page of information and access to data about the Black businesses they 
are visiting and provide recommendations with what types of businesses and areas they are missing 
out on! We want to create a closer and supportive relationship between these Black businesses, the university 
communities and area residents in general.
</p>

<h1>Our Program</h1>
<a href="elevate/register" class="btn btn-info" role="button">
    Register your group to our program here!</a>
<a href="elevate/review" class="btn btn-info" role="button">
    Submit a Black business review here.</a>
<a href="elevate/dashboard" class="btn btn-info" role="button">
    Interested in seeing your group's progress? Click here!</a>

<h1>Our Partners</h1>
<img src="../../static/app/img/cocoapreneurpgh.png">
<img src="../../static/app/img/wprdc.png">

{% endblock %}
