{% extends "pbb/layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/app/content/submitreview.css">
    </head>

    <body>
        <h3>Submit a Review</h3>
        <div class="submitreview">
            <div class="airtable-form">
                <iframe class="airtable-embed" src="https://airtable.com/embed/shrJdgp4jcpwo6sgR?backgroundColor=yellow" frameborder="0" width="100%" height="1450px"></iframe>
            </div>
        </div>
        <div class="youtube-videos">
            <h4>Sharing a Yelp Review (URL) after Just Posting It</h4>
            <iframe class="video" width="100%" height="315" src="https://www.youtube.com/embed/0k9AlL98cxw" allowfullscreen></iframe>
            <h4>Sharing a Yelp Review (URL) from the Business' Yelp Page</h4>
            <iframe class="video" width="100%" height="315" src="https://www.youtube.com/embed/W9h92BYxJhs" allowfullscreen></iframe>
            <h4>Sharing a Google Review (URL) after Just Posting It</h4>
            <iframe class="video" width="100%" height="315" src="https://www.youtube.com/embed/Cp5TVFexxpk" allowfullscreen></iframe>
            <h4>Sharing a Google Review (URL) from the Business' Google Maps Review Page</h4>
            <iframe class="video" width="100%" height="315" src="https://www.youtube.com/embed/tJ1EeyUUmQk" allowfullscreen></iframe>
        </div>
    </body>
</html>

{% endblock %}