{% extends "app/layout.html" %}

{% block content %}
{% load static %}
    <style>
      dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
      top: auto;
      left: 100%;
      margin-top: -33px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
      display: block;
    }

    .dropdown-submenu>a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
      border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
      float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
    </style>
    <div class="jumbotron" style="background-color:white;padding-top:30px;padding-bottom:55px;text-align:center;">
      <h2>Select a state</h2>
          <div class="dropdown" style="text-align:center;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:10px auto;">
              Choose a state&nbsp;&nbsp;
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu multi-level" aria-labelledby="dropdownMenu1" style="margin:10px auto;width:200px; left:50%; margin-left:-100px;">
              {% if locations != '' %}
              {% for obj in locations %}
                <li class="dropdown-submenu"><a href="#">{{ obj.state }}</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{%url 'complaint' obj.pk %}">{{ obj.name }}</a></li>
                </ul>
                {% endfor %}
                {% endif %}
                </li>
            </ul>

          </div>
    </div>

{% endblock %}
