{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron" style="padding-bottom:25px;">
        <p class="lead">{{location.name}}</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- Pre-Complaint Circle-->
            <div class="circle">
                <div class="circle" onclick="showPreComplaint()"></div>
                <div class="test">Pre-Complaint</div>
            </div>
            <div class="v1"></div>
            <!-- Complaint Circle-->
            <div class="circle">
                <div class="circle" onclick="showCategory('Complaint')"></div>
                <div class="test">Complaint</div>
            </div>
            <div class="v1"></div>
            <!-- Contract Circle-->
            <div class="circle">
                <div class="circle" onclick="showContractSearch()"></div>
                <div class="test">Contract</div>
            </div>
            <div class="v1"></div>
            <!-- Notification Circle-->
            <div class="circle">
                <div class="circle" onclick="showCategory('Notification')"></div>
                <div class="test">Notification</div>
            </div>
            <div class="v1"></div>
            <!-- Investigation Circle-->
            <div class="circle">
                <div class="circle" onclick="showCategory('Investigation')"></div>
                <div class="test">Investigation</div>
            </div>
            <div class="v1"></div>
            <!-- Result Circle-->
            <div class="circle">
                <div class="circle" onclick="showCategory('Result')"></div>
                <div class="test">Result</div>
            </div>
        </div>
        <!-- Pre-Complaint Panel-->
        <div class="col-md-6" id="pre-complaintPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">What is a complaint?</h3>
                  </div>
                  <div class="panel-body">
                      <p>A complaint is... </p>
                  </div>
                  <div class="panel-footer">
                      <a href="{% static 'app/Pre-Complaint/PittsburghPreComplaint.pdf' %}">Pre-Complaint</a>
                  </div>
                </div>
            </div>
        </div>
        <!-- Complaint Panel-->
        <div class="col-md-6" id="complaintPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Complaint' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="ComplaintAnswer">
                        Answer here...
                    </div>
                </div>
            </div>
        </div> 
        <!-- Contract Panel-->
        <div class="col-md-6" id="contractPanel" style="display:none; position:sticky; top: 0;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{location}} Contract Search</h3>
                    </div>
                    <div class="panel-body scrollable-panel" id="contractSearch">
                         <form method="GET" action="{% url 'complaint' location.pk %}">
                             <input name="searchTerm" value="{{request.GET.searchTerm}}" placeholder="enter a keyword here" style="border-radius:15px; text-align:center; border-width:2px; border-color:#5685d1;">
                             <button class=" "btn btn-success" type="submit" style="border-radius:15px;color:white;background-color:#5685d1;border-color:#5685d1;padding-left:10px;padding-right:10px;">
                                Go
                             </button>
                         </form>
                         {% if results != '' %}
                             <hr >
                             {% for obj in results %}
                                  <p class="lead"><strong><span style="color:#5685d1;">{{obj.location}} Contract:</span>   </strong>{{obj.text}}</p>
                                  <hr >
                              {% endfor %}
                         {% endif %}
                    </div>
                </div>
         </div>
        <!-- Notification Panel-->
        <div class="col-md-6" id="notificationPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Notification' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="NotificationAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Investigation Panel-->
        <div class="col-md-6" id="investigationPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Investigation' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="InvestigationAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Result Panel-->
        <div class="col-md-6" id="resultPanel" style="display:none; position:sticky; top: 0;">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                        {% for q in questions %}
                            {% if q.category == 'Result' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                  </div>
                    <div class="panel-body" id="ResultAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}