{% extends "app/layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron" style="padding-bottom:25px;">
         {% if location %}
            <p class="lead">{{location.name}}</p>
        {% else %}
            <p class="lead">Generic</p>
        {% endif %}
    </div>
    <div style="max-width:350px;margin:0px auto;">
    <form method="GET" action="{% url 'complaint' %}">
        <input name="q" value="{{request.GET.q}}" placeholder="search for a location" style="border-radius:15px;text-align:center; border-width:2px; border-color:#5685d1;">
        <button class=" "btn btn-success" type="submit" style="border-radius:15px;color:white;background-color:#5685d1;border-color:#5685d1;padding-left:10px;padding-right:10px;">
            Go
        </button>
    </form>
  </div>
    <div class="row">
        <div class="col-md-6">
            <!-- Complaint Circle-->
            <div class="circle">
                <div class="circle" onclick="showCategory('Complaint')"></div>
                <div class="test">Complaint</div>
            </div>
            <div class="v1"></div>
            <!-- Notification Circle-->
            <div class="circle">
                <div class="circle" onclick="showCategory('Notification')"></div>
                <div class="test">Notification</div>
            </div>
            <div class="v1"></div>
            <div class="circle">
                <div class="circle" onclick="showCategory('Investigation')"></div>
                <div class="test">Investigation</div>
            </div>
            <div class="v1"></div>
            <div class="circle">
                <div class="circle" onclick="showCategory('Result')"></div>
                <div class="test">Result</div>
            </div>
        </div>
        <!-- Complaint Panel-->
        <div class="col-md-6" id="complaintPanel" style="display:none">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                      {% if location %}
                        {% for q in questions %}
                            {% if q.category == 'Complaint' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to complaint question one', 'Complaint')">Test Question 1 for complaint Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to complaint question 2', 'Complaint')">Test Question 2 for complaint Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to complaint question 3', 'Complaint')">Test Question 3 for complaint Generic</a>
                      {% endif %}
                  </div>
                    <div class="panel-body" id="ComplaintAnswer">
                        Answer here...
                    </div>
                </div>
            </div>
        </div>
        <!-- Notification Panel-->
        <div class="col-md-6" id="notificationPanel" style="display:none">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                      {% if location %}
                        {% for q in questions %}
                            {% if q.category == 'Notification' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to notification question one', 'Notification')">Test Question 1 for notification Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to notification question 2', 'Notification')">Test Question 2 for notification Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to notification question 3', 'Notification')" >Test Question 3 for notification Generic</a>
                      {% endif %}
                  </div>
                    <div class="panel-body" id="NotificationAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Investigation Panel-->
        <div class="col-md-6" id="investigationPanel" style="display:none">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                      {% if location %}
                        {% for q in questions %}
                            {% if q.category == 'Investigation' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to investigation question one', 'Investigation')">Test Question 1 for investigation Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to investigation question 2', 'Investigation')">Test Question 2 for investigation Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to investigation question 3', 'Investigation')">Test Question 3 for investigation Generic</a>
                      {% endif %}
                  </div>
                    <div class="panel-body" id="InvestigationAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
        <!-- Result Panel-->
        <div class="col-md-6" id="resultPanel" style="display:none">
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                      {% if location %}
                        {% for q in questions %}
                            {% if q.category == 'Result' %}
                                <a href="#" class="list-group-item" onclick="setAnswer('{{q.a}}','{{q.category}}')">{{q.q}}</a>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to result question one', 'Result')">Test Question 1 for result Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to result question 2', 'Result')">Test Question 2 for result Generic</a>
                          <a href="#" class="list-group-item" onclick="setAnswer('Answer to result question 3', 'Result')">Test Question 3 for result Generic</a>
                      {% endif %}
                  </div>
                    <div class="panel-body" id="ResultAnswer">
                        Answer:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}