{% extends "app/layout.html" %}

{% block content %}

<div style="padding:5px;"></div>

<h1 style="padding-top:20px;padding-left:5px;text-align:center;">Contact Us</h1>

<div class="jumbotron" style="background-color:white;padding-top:10px;">

  <hr class="my-4" style="border-top:1px solid darkgrey;">
  <p class="lead" style="text-align:center;">Feel free to e-mail us with any questions or inquiries. We're happy to help!</p>
  <address style="text-align:center;">
      <strong>General:</strong>   <a href="mailto:cjk94@pitt.edu">iph3@pitt.edu</a><br />
  </address>
  <address style="text-align:center;">
      <strong>Tech Support:</strong>   <a href="mailto:cjk94@pitt.edu">cjk94@pitt.edu</a><br />
  </address>
  <hr class="my-4" style="border-top:1px solid darkgrey;">

</div>


{% endblock %}
