{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Project Police Union Contracts</h1>
</div>
<div class="row">
        <h2>What does our tool do?</h2>
        <p>
            Our Tool allows users to explore police union contracts more easily for information.  It helps users recognize some of the problematic language
            used throughout contracts and summarizes this in a way that is easier to understand.
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">Learn more &raquo;</a></p>
        <h2>How can it help?</h2>
        <p>
            With a more widespread understanding of these police union contracts, we can help break down the barriers they pose to holding police officers accountable for 
            misconduct investigation processes.
            This can help those considering filing a police misconduct complaint understand more about how the processes works and what it means for them if they choose to do so.
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">Learn more &raquo;</a></p>
</div>
{% endblock %}
