{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<div style="margin-top:44px;"></div>


    <h2>Tools for researchers:</h2>
<hr class="my-4">
    <div style="margin-left:22px;">
        <div style="padding-top:1px;"></div>
        <h2><a href="/search_contract"><span class="glyphicon glyphicon-search"></span> &nbsp;Search all contracts by keywords</a></h2>
        <h2><a href="/search"><span class="glyphicon glyphicon-search"></span> &nbsp;View union contracts by city</a></h2>
    </div>


<div style="margin-bottom:44px;"></div>



{% endblock %}
