{% extends "app/layout.html" %}

{% block content %}

<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}
</style>

<h3 style="text-align:center;">Search our database of contracts for any keyword.</h3>

<div class="jumbotron" style="background-color:white;padding-top:30px;padding-bottom:15px;">

  <div style="max-width:350px;margin:0px auto;">

    <form method="GET" action="{% url 'search_contract' %}">
        <input name="q" id="sub" value="{{request.GET.q}}" placeholder="enter a keyword here" style="border-radius:15px; text-align:center; border-width:2px; border-color:#5685d1;">
        <button class="btn btn-success" id="subbtn" type="submit" style="border-radius:15px;color:white;background-color:#5685d1;border-color:#5685d1;padding-left:10px;padding-right:10px;">
            Go
        </button>

    </form>

    </div>

    <div class="btn-group" role="group" aria-label="..." style="margin-top:33px;position:relative;left:47%;margin-right:-50%;transform:translate(-50%,-50%);">
          <button type="button" onclick="getElementById('sub').value='file';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">file</button>
          <button type="button" onclick="getElementById('sub').value='interview';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">interview</button>
          <button type="button" onclick="getElementById('sub').value='arbitration';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">arbitration</button>
          <button type="button" onclick="getElementById('sub').value='review';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">review</button>
          <button type="button" onclick="getElementById('sub').value='investigation';document.querySelector('form').submit();" class="btn btn-default" style="border-radius:15px;margin-right:5px;">investigation</button>

    </div>

  </div>
</div>
<div style="max-width:1100px;margin:0px auto;">
{% if results != '' %}
{% regroup results by location as cities %}
    {% for city in cities %}
	<button type="button" class="collapsible">{{city.grouper}} - {{city.list|length}} results <img src="https://i.imgur.com/VDm9OyX.png" style="width:15px;float:right;padding-top:5px;"/></button>
	<div class="content">
        {% for obj in results %}
			{% if obj.location == city.grouper %}
      <br>
			<p class="lead"><strong><a href="{%url 'view_location' obj.lid %}" style="color:#5685d1;">{{obj.location}} Contract:</a>   </strong>{{obj.first}}<span style="background-color: #FFFF00">{{obj.second}}</span>{{obj.third}}</p>
				<hr style="border-color:white;border-width:2px;">
			{% endif %}
	    {% endfor %}
	</div>
    {% endfor %}
{% endif %}
</div>

<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}
