{% extends "app/layout.html" %}

{% block content %}
<form method="GET" action="{% url 'search' %}">
    <div class="active-cyan-3 active-cyan-4 mb-4" style="padding-top: 5px; padding-bottom: 8px;">
        <input class="form-control" type="text" name="q" value="{{request.GET.q}}" placeholder="Search for a specific contract" aria-label="Search">
    </div>
    <button class="btn btn-primary" type="submit">
        Search
    </button>
</form>
<hr >
{% for obj in locations %}
    <h1><a href="{%url 'view_location' obj.pk %}" >{{ obj.name }} Police Contract</a></h1>
    <hr >
{% endfor %}
{% endblock %}