{% extends "app/layout.html" %}

{% block content %}

<h3 style="text-align:center;">Search our database of contracts for any keyword.</h3>

<div class="jumbotron" style="background-color:white;padding-top:30px;padding-bottom:15px;">

  <div style="max-width:350px;margin:0px auto;">

    <form method="GET" action="{% url 'search_contract' %}">
        <input name="q" value="{{request.GET.q}}" placeholder="enter a keyword here" style="border-radius:15px; text-align:center; border-width:2px; border-color:#5685d1;">
        <button class=" "btn btn-success" type="submit" style="border-radius:15px;color:white;background-color:#5685d1;border-color:#5685d1;padding-left:10px;padding-right:10px;">
            Go
        </button>

    </form>
  </div>
</div>
{% if results != '' %}
{% regroup results by location as cities %}
    {% for obj in results %}
        <p class="lead"><strong><span style="color:#5685d1;">{{obj.location}} Contract:</span>   </strong>{{obj.first}}<span style="background-color: #FFFF00">{{obj.second}}</span>{{obj.third}}</p>
    <hr >
    {% endfor %}
{% endif %}
{% endblock %}
