{% extends "app/layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="circle">
                <div class="circle" onclick="showOne()"></div>
                <div class="test">Complaint</div>
            </div>
            <div class="v1"></div>
            <div class="circle">
                <div class="circle" onclick=""></div>
                <div class="test">Notification</div>
            </div>
        </div>
        <div class="col-md-6" id="one" style="display:none">
            <!-- list of all Q's in top box, click on Q to put answer in bottom box-->
            <div class="Qs">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                  </div>
                  <div class="list-group">
                      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
                    <div class="panel-body">
                        Answer here...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}