{% extends "app/layout.html" %}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}

<style>
  .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}
</style>

<p class="lead"><a href="/search"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;return to city select</a></p>
<div class="jumbotron">
	<div class="row">
        <div class="col-md-9">
			<h1>{{location}} Police Contract</h1>
		</div>
		<div class="col-md-3"style="float:right;padding-top: 30px;">
			<a class="btn btn-primary" href="{% url 'download_pdf' location.id %}" role="button">Download PDF&nbsp;
				<span class="glyphicon glyphicon-download"></span>
			</a>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<!-- /.modal -->
<h3>The following sentences have been flagged from the contract as problematic, click on a category and sentence to learn why a sentence was flagged.</h3><br>
<div class="col-md-12">
    <button type="button" class="collapsible" style="border-bottom: 5px solid white;">Limits Oversight<span class="glyphicon glyphicon-chevron-down" style="float:right;"></span> </button>
	    <div class="content">
		    {% for sentence in sentences %}
			    {% if sentence.limit_oversight %}
	      <br>
			    <p class="lead"><a href="{% url 'view_sentence' sentence.id %}" data-toggle="modal" data-target="#modal" title="view sentence" style="color:black; text-decoration:none;">{{sentence.text}}</a></p>
				    <hr style="border-color:white;border-width:2px;">
			    {% endif %}
		    {% endfor %}
	    </div>
    <button type="button" class="collapsible" style="border-bottom: 5px solid white;">City Pays for Misconduct<span class="glyphicon glyphicon-chevron-down" style="float:right;"></span> </button>
	    <div class="content">
		    {% for sentence in sentences %}
			    {% if sentence.city_pay_for_misconduct %}
	      <br>
			    <p class="lead"><a href="{% url 'view_sentence' sentence.id %}" data-toggle="modal" data-target="#modal" title="view sentence" style="color:black; text-decoration:none;">{{sentence.text}}</a></p>
				    <hr style="border-color:white;border-width:2px;">
			    {% endif %}
		    {% endfor %}
	    </div>
	<button type="button" class="collapsible" style="border-bottom: 5px solid white;">Erases Misconduct Records<span class="glyphicon glyphicon-chevron-down" style="float:right;"></span> </button>
	    <div class="content">
		    {% for sentence in sentences %}
			    {% if sentence.erases_misconduct %}
	      <br>
			    <p class="lead"><a href="{% url 'view_sentence' sentence.id %}" data-toggle="modal" data-target="#modal" title="view sentence" style="color:black; text-decoration:none;">{{sentence.text}}</a></p>
				    <hr style="border-color:white;border-width:2px;">
			    {% endif %}
		    {% endfor %}
	    </div>
	<button type="button" class="collapsible" style="border-bottom: 5px solid white;">Disqualifies Complaints<span class="glyphicon glyphicon-chevron-down" style="float:right;"></span> </button>
	    <div class="content">
		    {% for sentence in sentences %}
			    {% if sentence.disqualify_complaints %}
	      <br>
			    <p class="lead"><a href="{% url 'view_sentence' sentence.id %}" data-toggle="modal" data-target="#modal" title="view sentence" style="color:black; text-decoration:none;">{{sentence.text}}</a></p>
				    <hr style="border-color:white;border-width:2px;">
			    {% endif %}
		    {% endfor %}
	    </div>
	<button type="button" class="collapsible" style="border-bottom: 5px solid white;">Gives Officer Unfair Access to Information<span class="glyphicon glyphicon-chevron-down" style="float:right;"></span> </button>
	    <div class="content">
		    {% for sentence in sentences %}
			    {% if sentence.unfair_information %}
	      <br>
			    <p class="lead"><a href="{% url 'view_sentence' sentence.id %}" data-toggle="modal" data-target="#modal" title="view sentence" style="color:black; text-decoration:none;">{{sentence.text}}</a></p>
				    <hr style="border-color:white;border-width:2px;">
			    {% endif %}
		    {% endfor %}
	    </div>
	</div>
<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}
