<div class="modal-dialog modal-lg">
    <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Title</h4>
              </div>
              <div class="modal-body">
                      <div class="form-group">
                          <label for="id_text">Text:</label>
                          <textarea name="text" cols="40" rows="10" required="" id="id_text" disabled>{{sentence.text}}</textarea> 
                      </div>
                      <div class="form-group">
                          <label for="id_impact">Impact:</label>
                          <textarea name="impact" cols="40" rows="10" id="id_impact" disabled >{{sentence.impact}}</textarea>
                      </div>
              </div>
              <div class="modal-footer">
               <a href = '{% url 'view_location' sentence.location.pk %}' class="btn btn-danger">Exit</a> 
              </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
