{% extends "app/layout.html" %}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>{{location}} Police Contract</h1>
</div>
<!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->
        {% for sentence in sentences %}
            {% if sentence.limit_oversight or sentence.city_pay_for_misconduct or sentence.erase_misconduct or sentence.disqualify_complaints or sentence.restrict_interrogation or sentence.unfair_information %}
                <pre style="background:#ffad99;"><a style="color:black; " data-toggle="modal" href="{% url 'edit_sentence' sentence.id %}" data-target="#modal" title="edit sentence" data-tooltip>{{sentence.text}}</a></pre>
            {% else %}
                <pre><a style="color:black; " data-toggle="modal" href="{% url 'edit_sentence' sentence.id %}" data-target="#modal" title="edit sentence" data-tooltip>{{sentence.text}}</a></pre>
            {% endif %}
        {% endfor %}
{% endblock %}
